<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Job Consultant Portal
  </h1>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
      <a class="navbar-brand">{{pageTitle}}</a>

      <ul class="navbar-nav navbar-right">
          <!-- <li class="nav-item" *ngIf="isLoggedIn">
              <a class="nav-link" routerLink='/login'>Welcome {{ userName }}</a>
          </li>
          <li class="nav-item" *ngIf="!isLoggedIn">
              <a class="nav-link" routerLink='/login'>Log In</a>
          </li>
          <li class="nav-item" *ngIf="isLoggedIn">
              <a class="nav-link" (click)="logOut()" style="cursor: pointer">Log Out</a>
          </li> -->
      </ul>
  </div>
</nav>

